@import url('//fonts.googleapis.com/css?family=Roboto+Slab:700');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400');


h1, h4{
   font-family: 'Roboto Slab', serif;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}

img{
    margin:auto;
}

li {
    list-style:none;
}

article footer{
    background: #000000;
    color: #ffffff;
    margin:10px;
    padding:10px;
    font-family: 'Roboto Slab', serif;
    font-size:12px;
}

.background{
    background: url('img/bgv.jpg') no-repeat;
    padding:10px;
}

.background section{
    background: #ffffff;
    opacity:0.8;
}

.news{
    display: none;
}

label{
    font-size: 1em;
}

small{
    font-size: 0.8em;
}

@media only screen and (max-width: 768px){
    
    .blogg {
        display: none;
    }
    .news{
        display:block;
    }

    .background{
        padding:0;
    }
    article footer{
        margin:0;
        margin-bottom:10px;
    }
}